/* From Uiverse.io by cssbuttons-io */
.fancy {
  position: relative;
  display: inline-block;
  float: right;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1.25em 2em;
  overflow: visible;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.fancy::before {
  position: absolute;
  top: 50%;
  left: 1.5em;
  width: 1.5625rem;
  height: 2px;
  background: black;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
  content: ' ';
}

.fancy .text {
  display: block;
  padding-left: 2em;
  color: black;
  font-size: 1.125em;
  line-height: 1.33333em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.fancy .top-key {
  position: absolute;
  top: -2px;
  left: 0.625rem;
  width: 1.5625rem;
  height: 2px;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  position: absolute;
  right: 1.875rem;
  bottom: -2px;
  width: 1.5625rem;
  height: 2px;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  position: absolute;
  right: 0.625rem;
  bottom: -2px;
  width: 0.625rem;
  height: 2px;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: black;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .text {
  padding-left: 1.5em;
  color: white;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
